---
layout: default
---

<div class="w3-container">

  <h2 class="page-heading">News</h2>
 
  {{ content }}

  {% for post in site.news reversed %}
  <div class="w3-container w3-cell" style="width:150px">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {{ post.date | date: date_format }}
  </div>
  <div class="w3-container w3-cell w3-xlarge">
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </div>
  <br>
  {% endfor %}
</div>
